

    #video0

    {
            
            position: fixed; right: 0; bottom: 0;
            min-width: 100%; min-height: 100%;
            width: auto; height: auto; z-index: 10;
        
    }

    #entrer
    {
             position: absolute;
             
             font-size: 50px;
             bottom: 170px;
             right: 675px;
             opacity: 0;
             z-index: 15;
             cursor: pointer;
    }
      
    @font-face {
    font-family: 'PlayfairDisplaySC-Regular';
    src: url('fonts/PlayfairDisplaySC-Regular.otf');
    src: url('fonts/Quicksand-Regular?#iefix') format('embedded-opentype'),
}

    @font-face {
    font-family:'HKGrotesk-Bold';
    src: url('fonts/HKGrotesk-Bold.ttf');
    src: url('fonts/HKGrotesk-Bold?#iefix') format('embedded-opentype'),}

         body
         {
             margin: 0;
             background-color:black;
             height: 100vh;
               
         }

         #videoContainer
         {
             
             max-height: 100%;
             background-color: black;
             z-index: 3;
             display: none;
 
            
         }

        #video
        {
            position: relative;
            position: fixed; right: 0; bottom: -55px;
            min-width: 100%; min-height: 100vh;
            width: auto; height: auto; z-index: 3;
            text-align:center;
            
         }

         #skip
         {
             
             position:absolute;
             height: 7px;
             bottom: 5%;
             right: 5%;
             cursor: pointer;
             border: none;
             background: none;
             color:white;
             font-family: Arial, Helvetica, sans-serif, ;
	         font-weight: lighter;
             text-decoration: none;
             z-index: 4;
         }

         #mute
         {
             width: 20px;
             position:absolute;
             bottom: 5%;
             left: 5%;
             cursor: pointer;
             z-index: 4;
             
         }

         
         #mute2
         {
             width: 21px;
             position:absolute;
             bottom: 5%;
             left: 5%;
             cursor: pointer;
             z-index: 4;
             display: none;
             
         }


        

         
        
         #skip:hover
         {
            font-weight: bold;
         }

         #skip:active
         {
             border: none; }
   
        #home
        {
            position: relative;
            background-color:linear-gradient(to top left, #e4e2dc 35%, white);
            display: none;
            height: 100vh;
            animation: Gradient 1s;
            animation-delay: loaded;
            z-index: 0;
            }
    


        #bandeau
        {
            height: 100vh;
            width: 25%;
            animation: apparition 2s ease-out;
            animation-delay: loaded;
            overflow: hidden; 
             z-index: 1;}

            @keyframes apparition {
                from {
                    opacity: 0;
                    
                }
                to {
                    opacity:1;
                    
                }
            }

            

        #lsdm
        {
            position: absolute;
            height: 15%;
            left: 7%;
            top: 9%;
            animation : applsdm 2s ease-out;
            animation-delay: loaded;
            z-index: 2;
        }
            
            @keyframes applsdm {
                from {
                    opacity: 0;
                    transform: translateY(-100px);}
                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
             }
            
        

        #laseancedemarty
        {
            position: absolute;
            height: 9px;
            left: 7%;
            top: 7%;
            animation: apparition3 2s ease-out;
            animation-delay: loaded;
           z-index: 2;
        }


        @keyframes apparition3 {
                from {
                    opacity: 0;
                    transform: translateY(-50px);}
                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
             }

             #toutes
             {
                height: 9px;
                position: absolute;
                right: 2%;
                top: 2%;
             }
             
         
        #boxvideos 
        {
           position: absolute;
            display: flex;
            width: 70%;
            height: 70%;
            z-index: 3;
            justify-content: space-between;
            bottom:8%;
            left: 20%;

            
            
        }

        .boxes
        {
            display: flex;
            
            height: 450px;
            width: 150px;
            overflow: hidden;
            
           
        }
        .boxes:hover
        {
            width: 200px;
        }

        #mute_all 
    {   position: absolute;
    width: 20px;
        bottom: 3%;
        left: 1%;
        z-index: 200;
    }

    #unmute_all 
    {
        width: 20px;
        position: absolute;
        display: none;
        z-index: 200;
        bottom: 3%;
        left:1%;

    }
/*ROI ET OISEAU */


       
        #roi
        {
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('img/roi.jpg');
            filter: grayscale(80%); 
            animation: boxes 1s ease-out;
            animation-delay: loaded;
            overflow: visible;
            top: -10%;
            align-self: flex-end;
            
            
        }

        #roi:hover
        {
            filter: grayscale(0%);
        }

        #video-roi:hover
        {
            opacity: 1;
            
        }

        #video-roi
        {
            display: block;
            opacity: 0;
            height: 100%;  
            
        }

        

        @keyframes boxes {
                from {
                    opacity: 0;
                    transform: translateY(150px);}
                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
             }

        #titre
        {
            width :600px;
            position: absolute;
            top: -150px;
            left: 300px;
            display: none;  
            animation: titre 2s ease-out; 
        }
    
    #roi:hover #titre
    {
        display: block;
    }

    @keyframes titre {
                from {
                    opacity: 0;
                    transform: translateY(50px);}
                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
             }
            

/* LE CINEMA C'ETAIT MIEUX AVANT */

        #LCCMA
        {
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('img/avatar.jpg');
            filter: grayscale(70%); 
            animation: boxes-LCCMA 1s ease-out;
            animation-delay: loaded;
            overflow: visible;
            max-width: 200px;
            align-self: center;
        }

        #LCCMA:hover
        {
            filter: grayscale(0%);
        }
        #video-LCCMA:hover
        {
            opacity: 1;
            
        }

        #video-LCCMA
        {
            opacity: 0;
        }

        

        @keyframes boxes-LCCMA {
                from {
                    opacity: 0;
                    transform: translateY(-150px);}
                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
             }

        #titre-LCCMA
        {
        width :800px;
        position: absolute;
        top: -100px;
        left: 20px;
        display: none;  
        animation: titre-LCCMA 2s ease-out; 
    }
    
    #LCCMA:hover #titre-LCCMA
    {
        display: block;
    }

    @keyframes titre-LCCMA {
                from {
                    opacity: 0;
                    transform: translateY(50px);}
                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
             }

/* LES BANDES ANNONCES */

#BA
        {
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('img/BA.jpg');
            filter: grayscale(70%); 
            animation: boxes-BA 1s ease-out;
            animation-delay: loaded;
            overflow: visible;
            max-width: 200px;
            align-self: flex-end;
        }

        #BA:hover
        {
            filter: grayscale(0%);
        }
        #video-BA:hover
        {
            opacity: 1;
            
        }

        #video-BA
        {
            opacity: 0;
        }

        

        @keyframes boxes-BA {
                from {
                    opacity: 0;
                    transform: translateY(150px);}
                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
             }

        #titre-BA
        {
        width :650px;
        position: absolute;
        top: -150px;
        left: -100px;
        display: none;  
        animation: titre-BA 2s ease-out; 
    }
    
    #BA:hover #titre-BA
    {
        display: block;
    }

    @keyframes titre-BA {
                from {
                    opacity: 0;
                    transform: translateY(50px);}
                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
             }

        
/* LA GUERRE DES MONDES */

#LGDM
        {
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('img/LGDM2.jpg');
            filter: grayscale(70%); 
            animation: boxes-LGDM 1s ease-out;
            animation-delay: loaded;
            overflow: visible;
            max-width: 200px;
            align-self: center;
            
        }

        #LGDM:hover
        {
            filter: grayscale(0%);
        }
        #video-LGDM:hover
        {
            opacity: 1;
            
        }

        #video-LGDM
        {
            opacity: 0;
        }

        

        @keyframes boxes-LGDM {
                from {
                    opacity: 0;
                    transform: translateY(-150px);}
                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
             }

        #titre-LGDM
        {
        width :700px;
        position: absolute;
        top: -100px;
        left: -280px;
        display: none;  
        animation: titre-LGDM 2s ease-out; 
    }
    
    #LGDM:hover #titre-LGDM
    {
        display: block;
    }

    @keyframes titre-LGDM {
                from {
                    opacity: 0;
                    transform: translateY(50px);}
                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
             }


/*CETTE SCENE : MINORITY REPORT*/

#minority
        {
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('img/minority.jpg');
            filter: grayscale(70%); 
            animation: boxes-minority 1s ease-out;
            animation-delay: loaded;
            overflow: visible;
            max-width: 200px;
            align-self: flex-end;
        }

        #minority:hover
        {
            filter: grayscale(0%);
        }
        #video-minority:hover
        {
            opacity: 1;
            
        }

        #video-minority
        {
            opacity: 0;
        }

        

        @keyframes boxes-minority {
                from {
                    opacity: 0;
                    transform: translateY(150px);}
                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
             }

        #titre-minority
        {
        width :650px;
        position: absolute;
        top: -150px;
        left: -450px;
        display: none;  
        animation: titre-BA 2s ease-out; 
    }
    
    #minority:hover #titre-minority
    {
        display: block;
    }

    @keyframes titre-minority {
                from {
                    opacity: 0;
                    transform: translateY(50px);}
                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
             }


/* RÉTINE ET PUPILLES */

#retine
        {
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('img/retineetpupille2.jpg');
            filter: grayscale(70%); 
            animation: boxes-retine 1s ease-out;
            animation-delay: loaded;
            overflow: visible;
            max-width: 200px;
            align-self: center;
            
        }

        #retine:hover
        {
            filter: grayscale(0%);
        }
        #video-retine:hover
        {
            opacity: 1;
            
        }

        #video-retine
        {
            opacity: 0;
        }

        

        @keyframes boxes-retine {
                from {
                    opacity: 0;
                    transform: translateY(-150px);}
                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
             }

        #titre-retine
        {
        width :600px;
        position: absolute;
        top: -100px;
        left: -300%;
        display: none;  
        animation: titre-retine 2s ease-out; 
    }
    
    #retine:hover #titre-retine
    {
        display: block;
    }

    @keyframes titre-retine {
                from {
                    opacity: 0;
                    transform: translateY(50px);}
                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
             }

#reseau
{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 2%;
    height: auto;
    bottom: 2%;
    right: 1%;
 
}

.reseau
{
    flex-basis: 5%;
    padding-top: 30%;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    opacity: 80%;
}

